html {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $primary-font;
    font-size: 14px;
    font-weight: 400;
    background-color: var(--textlight);
}
#root {
    width: 375px;
    height: 815px;
    border-radius: 25px;
    background-color: var(--primarycolor);
    display: flex;
    flex-direction: column;
    .screen {
        flex-grow: 1;
        padding: 35px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
        color: var(--textlight);
        &__calculation__history {
            user-select: none;
            font-size: 24px;
            margin-bottom: 10px;
            display: flex;
            font-weight: 600;
            max-width: 100%;
            overflow: hidden;
            overflow-x: scroll;
            padding-bottom: 10px;

            &::-webkit-scrollbar-track {
                background-color: var(--primarycolor);
            }

            &::-webkit-scrollbar {
                // width: 5px;
                height: 5px;
                background-color: var(--graymedium);
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                background-color: var(--graymedium);
            }
            .number {
                color: var(--graydark);
            }
            .calculation {
                margin: 0 10px;
            }
            .red {
                color: var(--thirdcolor);
            }
        }
        &__calculation__result {
            user-select: none;
            font-size: 46px;
            font-weight: 700;
            letter-spacing: 3px;
            max-width: 100%;
            overflow: hidden;
            overflow-x: scroll;
            padding-bottom: 10px;
            &::-webkit-scrollbar-track {
                background-color: var(--primarycolor);
            }

            &::-webkit-scrollbar {
                // width: 5px;
                height: 5px;
                background-color: var(--graymedium);
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                background-color: var(--graymedium);
            }
        }
    }
    .keyboard {
        background-color: var(--graymedium);
        border-radius: 25px;
        padding: 35px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
        .button {
            border-radius: 15px;
            outline: none;
            border: none;
            width: 60px;
            height: 60px;
            background-color: var(--graylight);
            font-size: 20px;
            font-weight: 600;
            color: var(--textlight);
            transition: all 0.2s ease;
            &:hover {
                background-color: var(--textdark);
            }
            ion-icon {
                font-size: 24px;
            }
        }
        .red {
            color: var(--thirdcolor);
        }
        .blue {
            color: var(--secondarycolor);
        }
    }
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 25px;
        margin-top: 15px;
        &__copy {
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--thirdcolor);
            font-size: 12px;
            font-weight: 600;
            background-color: var(--headerbackground);
            padding: 7px 25px;
            border-radius: 8px;
            a {
                color: var(--thirdcolor);
                margin-left: 10px;
                font-size: 14px;
            }
        }
        &__mode {
            margin-top: 10px;
            background-color: var(--graymedium);
            width: 115px;
            border-radius: 16px;
            overflow: hidden;
            button {
                background-color: var(--graymedium);
                outline: none;
                border: none;
                width: 55px;
                height: 45px;
                color: var(--graydark);
                ion-icon {
                    font-size: 24px;
                }
            }
        }
    }
}
