@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Montserrat:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
$primary-font: "Poppins", sans-serif;
$secondary-font: "DM Sans", sans-serif;
$third-font: "Montserrat", sans-serif;
// $primary-color: #22252d;
// $secondary-color: #1adab6;
// $third-color: #eb6666;
// $text-light: #fff;
// $text-dark: #000;
// $gray-dark: #7b7d83;
// $gray-medium: #292d36;
// $gray-light: #272b33;

:root {
    --primarycolor: #22252d;
    --secondarycolor: #1adab6;
    --thirdcolor: #eb6666;
    --textlight: #fff;
    --textdark: #30333b;
    --graydark: #7b7d83;
    --graymedium: #292d36;
    --graylight: #272b33;
    --headerbackground: #eb66661e;
}
